@CHARSET "UTF-8";
/********************************************************/
/* general */
/********************************************************/
* {
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Sans-Serif;
  color: #002D62;
}


.container {
	border: 1px #CBE8FF solid;
}
/********************************************************/
/* options */
/********************************************************/

.header p {
	padding-left: 20px;
	display: inline-block;
}

.header p,
input.source,
input.replace {
	width: 45%;
	margin-right: 10px;
}

button, input {
	border: grey solid 1px;
}

button:HOVER {
	border: red solid 1px;
}

.actions {
	text-align: right;
}

.template {
	display: none;
}

.status {
	display: none;
}

p.intercepted {
	color: red;
}

/********************************************************/
/* monitor */
/********************************************************/
#tabs {
	text-align: center;
}

#tabs li {
    display: inline-block;
    border: 1px black solid;
    background:buttonface;
    padding: 5px;
}
#tabs li.active {
    background-color: #CBE8FF;
    font-weight: bolder;
}

#tabs li:hover {
    border: 1px red solid;
}