@CHARSET "UTF-8";
/********************************************************/
/* general */
/********************************************************/
* {
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Sans-Serif;
	color: #002D62;
	border-radius: 3px;
}

.container {
	border: 1px #CBE8FF solid;
	padding: 10px;
}

#templates {
	display: none;
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  /*border-radius: .1em;*/
}

button:hover {
  text-decoration: none;
}

button:active {
  position: relative;
  top: 1px;
}

ul#tabs {
	padding-left: 10px;
	margin-bottom: 0px;
	text-align: center;
}

#tabs li {
	border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 5px 5px 5px #888;
	display: inline-block;
	background: buttonface;
	padding: 5px;
	width: 150px;
}

#tabs li.active {
	background-color: #CBE8FF;
	color: red;
	font-weight: bold;
}
/********************************************************/
/* options */
/********************************************************/
#options-tab .list {
	height: 80%;
	overflow-y: auto;
}

.header p {
	padding-left: 20px;
	display: inline-block;
}

.header p, input.source, input.replace {
	width: 93%;
	margin-right: 5px;
}

input.replace {
  margin-left: 22px;
}

input {
	border: lightgrey solid 1px;
	padding: 3px;
}

.toggle:checked ~ input.source {
	background-color: lightyellow;
	color: red;
	font-weight: bold;
}

.toggle:checked ~ input.replace {
	background-color: lightyellow;
	color: green;
	font-weight: bold;
}

.actions {
	text-align: center;
}

.template {
	display: none;
}

.status {
	display: none;
	color: red;
	text-align: center;
}

.entry {
  border: 1px silver solid;
	box-shadow: 5px 5px 5px silver;
	margin: 10px;
	padding: 5px;
	position: relative;
}

.del {
	height: 16px;
	width: 16px;
	background: transparent url('../img/close.png') 0 0 no-repeat;
	top: 2px;
	right: 2px;
	position: absolute;
}

.del:HOVER {
	background-image: url('../img/close-hover.png')
}

/********************************************************/
/* monitor */
/********************************************************/
#monitor-tab .list {
  height: 450px;
  overflow-y: auto;
}

.request-log {
	margin: 10px;
	padding: 5px;
	background-color: lightgray;
	box-shadow: 5px 5px 5px #888;
}

.request-log > div {
	margin: 5px;
}

.request-log span {
	 word-wrap:break-word;
}

.request-log span.header {
  display: inline-block;
  width: 100px;
}

.request-log .source .body {
	color: red;
	font-weight: bolder;
}

.request-log .result .body {
  color: green;
  font-weight: bolder;
}
