@CHARSET "UTF-8";
/********************************************************/
/* general */
/********************************************************/
* {
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Sans-Serif;
	color: #002D62;
}

.container {
	border: 1px #CBE8FF solid;
	padding: 10px;
}

#templates {
	display: none;
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: .1em;
}

button:hover {
  text-decoration: none;
}

button:active {
  position: relative;
  top: 1px;
}

#tabs {
	text-align: center;
}

#tabs li {
	display: inline-block;
	background: buttonface;
	padding: 5px;
  box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

#tabs li.active {
	background-color: #CBE8FF;
	font-weight: bolder;
}
/********************************************************/
/* options */
/********************************************************/
.header p {
	padding-left: 20px;
	display: inline-block;
}

.header p,input.source,input.replace {
	width: 90%;
	margin-right: 10px;
}

input {
	border: lightgrey solid 1px;
}

.actions {
	text-align: right;
}

.template {
	display: none;
}

.status {
	display: none;
}

.entry {
	box-shadow: 5px 5px 5px silver;
	margin: 10px;
}

/********************************************************/
/* monitor */
/********************************************************/
#monitor-tab .list {
  height: 450px;
  overflow-y: scroll;
}

.request-log {
	margin: 10px;
	padding: 5px;
	background-color: lightgray;
	box-shadow: 5px 5px 5px #888;
}

.request-log > div {
	margin: 5px;
}

.request-log span {
	 word-wrap:break-word;
}

.request-log span.header {
  display: inline-block;
  width: 100px;
}

.request-log .source .body {
	color: red;
	font-weight: bolder;
}

.request-log .result .body {
  color: green;
  font-weight: bolder;
}
