body {
    margin: 5px;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#002d62;
}

h3, h4 {
    margin: 5px !important;
}

p {
    margin: 5px 5px 5px 10px;
}

.container {
    position: relative;
}

.airport-code {
    text-transform: uppercase;
}

.flight {
    border: 1px solid #CBE8FF;
    padding: 3px 3px 3px 8px;
    margin-left: 20px;
}

.even {
    background: #CBE8FF;
}
.flight-leg .lg,
.flight-leg .md,
.flight-leg .sm {
    display: inline-block;
}

.flight-leg {
    margin: 2px 0;
}

.flight-leg .lg { width: 25%; }
.flight-leg .md { width: 10%; }
.flight-leg .sm { width: 5%; }

.travel-date {
    text-align: center;
}

.unsold {
    text-align: center;
    color: #EEE;
}

.red .unsold { background: red; }
.green .unsold { background: green; }
.yellow .unsold { background: orange; }


#loading {
    background-color: lightgray;
    position: fixed;
    top: 5px;
    padding-top: 20px;
    min-height: 100px;
    width: 100%;
}

/* Chrome native date picker customization */
.empty-date ::-webkit-datetime-edit-fields-wrapper {
    visibility: hidden;
}

::-webkit-inner-spin-button {
    display: none;
}

::-webkit-clear-button {
    opacity: 1;
}

::-webkit-calendar-picker-indicator {
    opacity: 1;
    padding-bottom: 0px;
    padding-left: 0.5em;
}

/* AngularJS Material design customization*/
md-input-container {
    padding-bottom: 2px;
}

md-tabs-ink-bar {
    background-color: #0000FF !important;
}

.md-header {
    height: 35px;
}

.md-header-items-container, .md-button {
    text-transform: none;
}

.flight-tabs md-tab:focus {
  background-color: rgba(216, 216, 216, 0.35) !important;
}

.flight-tabs .md-header {
  border-bottom: 1px solid #D8D8D8;
  background-color: white !important;
}

.flight-tabs md-tab {
  color:#002d62 !important;
}

.flight-tabs .md-header .md-ripple {
    border-color: #D8D8D8 !important;
}

.flight-tabs md-tabs-ink-bar {
    background-color: rgb(255, 64, 129) !important;
}

.flight-tabs .md-paginator {
    background-color: rgba(216, 216, 216, 1);
}