body {
    margin: 5px;
    font-family: 'Trebuchet MS';
    font-size: 12.5px;
    color:#002d62;
}

h4 {
    margin: 5px;
}

p {
    margin: 5px 5px 5px 10px;
}

.container {
    position: relative;
}

.flight {
    border: 1px solid #cbe8ff;
    padding: 3px 3px 3px 8px;
    margin-left: 20px;
}

.even {
    background: rgb(203, 232, 255);
}
.flight-leg .lg,
.flight-leg .md,
.flight-leg .sm {
    display: inline-block;
}

.flight-leg {
    margin: 2px 0;
}

.flight-leg .lg { width: 25%; }
.flight-leg .md { width: 10%; }
.flight-leg .sm { width: 5%; }

.unsold {
    text-align: center;
    color: #EEE;
}

.red .unsold { background: red; }
.green .unsold { background: green; }
.yellow .unsold { background: orange; }

#loading {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background: silver url(/img/ajax-loader.gif) 50% 50% no-repeat;
    opacity: 0.5;
}
