<!DOCTYPE html>
<html lang="en" ng-app="sf" ng-csp>
<head>
	<title>SF</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="OtherUA=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/ng/css/angular-material.min.css">

    <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.css">-->

    <link type="text/css" href="/ng/css/angular-csp.css" rel="stylesheet" />
    <link type="text/css" href="/css/sf.css" rel="stylesheet" />
</head>
<body ng-cloak ng-controller="mainController" ng-keyup="documentKeyup($event)">

    <div class="container" ng-controller="searchController">
        <div layout="column" layout-margin>
            <div layout="row" layout-sm="column">
                
                <md-select ng-model="options.from" multiple="true" required="required" flex>
                    <md-select-label><span>{{formatAirports(options.from, 'From')}}</span></md-select-label>
                    <md-optgroup label="{{::group.countryStateDisplay}}" ng-repeat="group in groups">
                        <md-option ng-value="airport.code" ng-repeat="airport in airports | filter: {country : group.country, provinceState : group.provinceState}: true | orderBy:['name'] ">{{airport.name}}</md-option>
                    </md-optgroup>
                </md-select>

				<md-select ng-model="options.to" multiple="true" required="required" flex>
                    <md-select-label><span>{{formatAirports(options.to, 'To')}}</span></md-select-label>
                    <md-optgroup label="{{::group.countryStateDisplay}}" ng-repeat="group in groups">
                        <md-option ng-value="airport.code" ng-repeat="airport in airports | filter: {country : group.country, provinceState : group.provinceState}: true | orderBy:['name'] ">{{airport.name}}</md-option>
                    </md-optgroup>
                </md-select>
				
                <md-input-container flex ng-class="{'empty-date' : !options.dep}">
                    <label>Departure date</label>
                    <input type="date" ng-model="options.dep" required="required" >
                </md-input-container>
                <md-input-container flex ng-class="{'empty-date' : !options.ret}" >
                    <label>Return date</label>
                    <input type="date" ng-model="options.ret" min="{{options.dep}}">
                </md-input-container>
            </div>
            <div layout="row" layout-sm="column">
                <div flex="70" flex-sm="100" layout="row" layout-sm="column">
                    <div style="min-width: 95px;" layout layout-align="start center" >
                        <span>Flex&nbsp;dates:(+{{options.flex}})</span>
                    </div>
                    <md-slider class="md-primary" flex md-discrete ng-model="options.flex" step="1" min="0" max="5" aria-label="Flex"></md-slider>
                </div>
                <div flex="20" flex-sm="100" layout layout-align="space-around center">
                    <md-button class="md-raised md-primary" ng-disabled="!readyToSearch()" ng-click="search()" >Search</md-button>
                    <md-button class="md-raised" ng-click="clear()" ng-disabled="isEmptySearch()" >Clear</md-button>
                </div>
            </div>
        </div>

        <md-tabs ng-show="!isEmptySearch()">
            <!-- Loop outbounds and inbounds -->
            <md-tab ng-repeat="trip in [outbounds, inbounds] track by $index" ng-init="boundFlag = $index" label="{{:: $index == 0 ? 'Outbounds' : 'Inbounds'}}">
                <!-- Loop through each departure or return dates -->
                <md-tabs class="flight-tabs" md-theme="accent">
                    <md-tab ng-repeat="(dt, bounds) in trip" label="{{:: dt | date : 'EEE, MMM d, y' }}" >
                        <!-- Loop through each OD pair -->
                        <div ng-repeat="bound in bounds">
                            <h4>{{:: (boundFlag == 0 ? (bound.from + ' - ' + bound.to) : (bound.to + ' - ' + bound.from)) | uppercase }}</h4>
                            <p>{{:: bound.flights.length == 0 ? 'No flight available' : ''}}</p>
                            <!-- Loop through each flight section -->
                            <div class="flight" ng-repeat="flight in bound.flights" ng-class-even="'even'" ng-class="highlight(flight)" >
                                <!-- Loop through each flight legs -->
                                <div class="flight-leg" ng-repeat="leg in flight.legs track by $index" layout="row">
                                    <span flex="10"><b>{{::leg.num}}</b></span>
                                    <span flex="12" class="datetime">{{::leg.dep}}</span>
                                    <span flex="12" class="datetime">{{::leg.arr}}</span>
                                    <span flex="25">{{::leg.origin}}</span>
                                    <span flex="25">{{::leg.destination}}</span>
                                    <span flex="5" class="unsold">{{::leg.seatCounts.unsold}}</span>
                                    <span flex="5">{{::leg.seatCounts.lid}}</span>
                                    <span flex="5">{{::leg.seatCounts.capacity}}</span>
                                </div>
                                <!-- End of flight legs -->
                            </div>
                            <!-- End of flight section -->
                        </div>
                        <!-- End of OD -->
                    </md-tab>
                </md-tabs>
                <!-- End of dates -->
            </md-tab>
            <!-- End of pout/in bounds -->
        </md-tabs>

        <!-- Loading progress section -->
        <div class="loading" ng-show="currentLoading" layout="column" layout-align="center center">
            <img src="/img/ajax-loader.gif"/>
            <p><b>Searching flights for: </b>{{currentLoading.from | uppercase}} | {{currentLoading.to | uppercase}} : {{currentLoading.depTime | date}} - {{currentLoading.retTime | date}}</p>
            <md-button class="md-raised" ng-click="cancelSearch()">Cancel</md-button>
        </div>

        <div class="loading" ng-show="airports.length == 0" layout="column" layout-align="center center">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            <p><b>Connecting to travel site</b></p>
            <p><i>You may need to close this window and login travel site, then re-open SF again.</i></p>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/ng/js/hammer.min.js"></script>
    <script type="text/javascript" src="/ng/js/angular.min.js"></script>
    <script type="text/javascript" src="/ng/js/angular-animate.min.js"></script>
    <script type="text/javascript" src="/ng/js/angular-aria.min.js"></script>
    <script type="text/javascript" src="/ng/js/angular-messages.min.js"></script>
    <script type="text/javascript" src="/ng/js/angular-material.min.js"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>-->

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
</body>
</html>