<!DOCTYPE html>
<html lang="en" ng-app="sf" ng-csp>
<head>
	<title>SF</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="OtherUA=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="/ng/css/angular-material.min.css"> -->

    <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.css">-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">

    <link type="text/css" href="/ng/css/angular-csp.css" rel="stylesheet" />
    <link type="text/css" href="/css/sf.css" rel="stylesheet" />
</head>
<body ng-cloak ng-controller="mainController" ng-keyup="documentKeyup($event)" layout>

    <div class="container" ng-controller="searchController" layout='column' flex>
        <div layout="column">
            <div layout="row" layout-xs="column">
                <md-select ng-model="options.from" multiple="true" required="required" flex >
                    <!-- <md-select-label>{{formatAirports(options.from, 'From')}}</md-select-label> -->
                    <md-optgroup label="{{::group.countryStateDisplay}}" ng-repeat="group in groups" ng-keydown="toggleGroup(group)">
                        <label ng-click="toggleGroup(group)">{{::group.countryStateDisplay}}</label>
                        <md-option ng-show="group.show" ng-value="airport.code" ng-repeat="airport in airports | filter: {country : group.country, provinceState : group.provinceState}: true | orderBy:['name'] ">{{airport.name}}</md-option>
                    </md-optgroup>
                </md-select>
				<md-select ng-model="options.to" multiple="true" required="required" flex >
                    <!-- <md-select-label><span>{{formatAirports(options.to, 'To')}}</span></md-select-label> -->
                    <md-optgroup label="{{::group.countryStateDisplay}}" ng-repeat="group in groups">
                        <label ng-click="toggleGroup(group)">{{::group.countryStateDisplay}}</label>
                        <md-option ng-show="group.show" ng-value="airport.code" ng-repeat="airport in airports | filter: {country : group.country, provinceState : group.provinceState}: true | orderBy:['name'] ">{{airport.name}}</md-option>
                    </md-optgroup>
                </md-select>
            </div>
			<div layout="row">
                <md-datepicker flex ng-model="options.dep" md-placeholder="Depature date" ng-required='true'></md-datepicker>
                <md-datepicker flex ng-model="options.ret" md-min-date="options.dep" md-placeholder="Return date" ng-required='false'></md-datepicker>                
            </div>

            <div layout="row" layout-xs="column">
                <div flex="60" flex-xs="100" layout>
                    <div style="min-width: 95px;" layout layout-align="center center" >
                        <span>Flex&nbsp;dates:(&plusmn;{{options.flex}})</span>
                    </div>
                    <md-slider class="md-primary" flex md-discrete ng-model="options.flex" step="1" min="0" max="3" aria-label="Flex"></md-slider>
                </div>
                <div flex="40" flex-xs="100" layout='row' layout-align='center center'>
                    <md-button class="md-raised md-primary" ng-disabled="!readyToSearch()" ng-click="search()" arial-label="" >Search</md-button>
                    <md-button class="md-raised" ng-click="clear()" ng-disabled="isEmptySearch()" arial-label="Clear search result" >
                        Clear
                        <md-tooltip md-direction="top">Clear search results</md-tooltip>
                    </md-button>
                    <md-button class="md-raised" ng-click="reset()" arial-label="Clear search result and criteria" >
                        Reset
                        <md-tooltip md-direction="top">Reset search criterias and results</md-tooltip>
                    </md-button>
                </div>
                <br />
            </div>
        </div>

        <md-tabs class="results-tabs" flex ng-show="!isEmptySearch()" md-center-tabs='true' md-no-ink-bar='true'>
            <!-- Loop outbounds and inbounds -->
            <md-tab ng-repeat="trip in [options.outbounds, options.inbounds] track by $index" ng-init="boundFlag = $index" label="{{:: $index == 0 ? 'Outbounds' : 'Inbounds'}}">
                <!-- Loop through each departure or return dates -->                
                <md-tabs class="flight-tabs" md-theme="accent" md-dynamic-height="true" md-no-ink-bar='false' md-border-bottom="true" >
                    <md-tab ng-repeat="(dt, bounds) in trip | orderBy : 'dt' " label="{{:: dt | date : 'EEE, MMM d' }}" >
                        <!-- Loop through each OD pair -->
                        <div ng-repeat="bound in bounds | orderBy : ['from', 'to'] ">
                            <h4>
                                <md-button ng-click='clickRoute(dt, bound)'>{{:: (boundFlag == 0 ? (bound.from + ' - ' + bound.to) : (bound.to + ' - ' + bound.from))}}
                                    <md-tooltip md-direction="right">Click to search in travel site step 1 </md-tooltip>
                                </md-button>
                            </h4>
                            <p>{{:: bound.flights.length == 0 ? 'No flight available' : ''}}</p>
                            <!-- Loop through each flight section -->
                            <div class="flight" ng-repeat="flight in bound.flights" ng-class-even="'even'" ng-class="highlight(flight)" >
                                <!-- Loop through each flight legs -->
                                <div class="flight-leg" ng-repeat="leg in flight.legs track by $index" layout="row">
                                    <span flex="grow"><b>{{::leg.num}}</b></span>
                                    <span flex="grow" class="datetime">{{::leg.dep}}</span>
                                    <span flex="grow" class="datetime">{{::leg.arr}}</span>
                                    <span flex="grow">
                                        {{::leg.origin}}
                                        <md-tooltip md-direction="top">{{::leg.originName}}</md-tooltip>
                                    </span>
                                    <span flex="grow">
                                        {{::leg.destination}}
                                        <md-tooltip md-direction="top">{{::leg.destinationName}}</md-tooltip>
                                    </span>
                                    <span flex="grow" class="unsold">{{::leg.seatCounts.unsold}}</span>
                                    <span flex="grow">{{::leg.seatCounts.lid}}</span>
                                    <!-- span flex="5">{{::leg.seatCounts.capacity}}</span -->
                                </div>
                                <!-- End of flight legs -->
                            </div>
                            <!-- End of flight section -->
                        </div>
                        <!-- End of OD -->
                    </md-tab>
                </md-tabs>
                <!-- End of dates -->
            </md-tab>
            <!-- End of pout/in bounds -->
        </md-tabs>

        <!-- Loading progress section -->
        <div class="loading" ng-show="currentLoading" layout="column" layout-align="center center">
            <img src="/img/ajax-loader.gif"/>
            <p><b>Searching flights for: </b>{{currentLoading.from | uppercase}} | {{currentLoading.to | uppercase}} : {{currentLoading.depTime | date : 'EEE, MMM d' }} - {{currentLoading.retTime | date : 'EEE, MMM d' }}</p>
            <md-button class="md-raised" ng-click="cancelSearch()">Cancel</md-button>
        </div>

        <div class="loading" ng-show="airports.length == 0" layout="column" layout-align="center center">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            <p><b>Connecting to travel site</b></p>
            <p><i>You may need to close this window and login travel site, then re-open SF again.</i></p>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>

    <!-- <script type="text/javascript" src="/ng/js/hammer.min.js"></script>
    <script type="text/javascript" src="/ng/js/angular.min.js"></script>
    <script type="text/javascript" src="/ng/js/angular-animate.min.js"></script>
    <script type="text/javascript" src="/ng/js/angular-aria.min.js"></script>
    <script type="text/javascript" src="/ng/js/angular-messages.min.js"></script>
    <script type="text/javascript" src="/ng/js/angular-material.min.js"></script>
 -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>-->

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
</body>
</html>