<!DOCTYPE html>
<html lang="en" ng-app="mim" ng-csp>
<head>
	<title>MiM</title>
	<link type="text/css" href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="/bootstrap/css/bootstrap-custom.css" rel="stylesheet" />
	<link type="text/css" href="/css/common.css" rel="stylesheet" />
	<link type="text/css" href="/ng/css/angular-csp.css" rel="stylesheet" />
	<script type="text/javascript" src="/ng/js/angular.min.js"></script>
	<script type="text/javascript" src="/ng/js/angular-animate.min.js"></script>
</head>
<body ng-cloak ng-controller="mainController" ng-keyup="documentKeyup($event)">
	<ul id="main-nav-tab" class="nav nav-tabs">
		<li ng-class="{active: options.activeTab == 'Options'}"><a href="#options-tab" ng-click="selectTab('Options')" >Options</a></li>
		<li ng-class="{active: options.activeTab == 'Captures'}"><a href="#notifications-tab" ng-click="selectTab('Captures')">Captures</a></li>
		<li ng-class="{active: options.activeTab == 'Requests'}"><a href="#monitor-tab" ng-click="selectTab('Requests')">Requests</a></li>
		<li ng-class="{active: options.activeTab == 'Form'}"><a href="#autofills-tab" ng-click="selectTab('Form')">Form</a></li>
	</ul>

	<div id="main-tab-content" class="tab-content">
		<div id="options-tab" class="tab-pane" ng-class="{active: options.activeTab == 'Options'}" ng-controller="optionsController">
			<ul id="options-nav" class="nav nav-pills">
				<li ng-class="{active: options.activeOption == 'rules'}"><a href="#rules" ng-click="selectOption('rules')">Rules</a></li>
				<li ng-class="{active: options.activeOption == 'watches'}"><a href="#watches" ng-click="selectOption('watches')">Captures</a></li>
				<li ng-class="{active: options.activeOption == 'headers'}"><a href="#headers" ng-click="selectOption('headers')">Headers</a></li>
				<li ng-class="{active: options.activeOption == 'blocks'}"><a href="#blocks" ng-click="selectOption('blocks')">Blocks</a></li>
				<li ng-class="{active: options.activeOption == 'misc'}"><a href="#misc" ng-click="selectOption('misc')">Misc</a></li>
				<li>
					<button type="button" ng-click="addOption()" class="btn btn-sm new">
						<a><i class="glyphicon glyphicon-plus-sign"></i> New </a>
					</button>
				</li>
			</ul>
			<div id="options-tab-content" class="tab-content">
				<div id="rules" class="tab-pane" ng-class="{active: options.activeOption == 'rules'}">
					<div class="entry input-group" ng-repeat="rule in options.rules">
						<span class="input-group-addon">
						  <input type="checkbox" class="toggle" ng-model="rule.checked" />
						</span>
						<div ng-class="{selected: rule.checked}">
							<input type="text" class="source form-control" placeholder="Search string in request" ng-model="rule.source" required="required" />
							<input type="text" class="replace form-control" placeholder="Replace with ..." ng-model="rule.replace" required="required" />
						</div>
						<span class="input-group-addon">
							<button type="button" class="close" aria-hidden="true" ng-click="deleteOption($index)">&times;</button>
						</span>
					</div>
				</div>
				<div id="watches" class="tab-pane" ng-class="{active: options.activeOption == 'watches'}">
					<div class="entry input-group" ng-repeat="watch in options.watches">
						<span class="input-group-addon"> <input type="checkbox" class="toggle" ng-model="watch.checked" />
						</span>
						<div ng-class="{selected: watch.checked}">
							<input type="text" class="watch form-control" placeholder="Capture requests that contains ..." ng-model="watch.source" />
						</div>
						<span class="input-group-addon">
							<button type="button" class="close" aria-hidden="true" ng-click="deleteOption($index)">&times;</button>
						</span>
					</div>
				</div>
				<div id="blocks" class="tab-pane" ng-class="{active: options.activeOption == 'blocks'}">
					<div class="entry input-group" ng-repeat="block in options.blocks">
						<span class="input-group-addon"> <input type="checkbox" class="toggle" ng-model="block.checked" />
						</span>
						<div ng-class="{selected: block.checked}">
							<input type="text" class="block form-control" placeholder="Block requests that contains ..." ng-model="block.block" />
						</div>
						<span class="input-group-addon">
							<button type="button" class="close" aria-hidden="true" ng-click="deleteOption($index)">&times;</button>
						</span>
					</div>
				</div>
				<div id="headers" class="tab-pane" ng-class="{active: options.activeOption == 'headers'}">
					<div class="entry input-group" ng-repeat="header in options.headers">
						<span class="input-group-addon"> <input type="checkbox" class="toggle" ng-model="header.checked" />
						</span>
						<div ng-class="{selected: header.checked}">
							<input type="text" class="name form-control" placeholder="Header Name" ng-model="header.name" />
							<input type="text" class="value form-control" placeholder="Header Value" ng-model="header.value" />
						</div>
						<span class="input-group-addon">
							<button type="button" class="close" aria-hidden="true" ng-click="deleteOption($index)">&times;</button>
						</span>
					</div>
				</div>
				<div id="misc" class="tab-pane" ng-class="{active: options.activeOption == 'misc'}">
					<div class="checkbox">
						<input type="checkbox" class="toggle" id="calleronly" ng-model="options.calleronly" />
						<label for="calleronly">Only monitor the calling tab.</label>
					</div>
					<div class="checkbox">
						<input type="checkbox" class="toggle" id="shownotifications" ng-model="options.shownotifications" />
						<label for="shownotifications">Send <b>desktop</b> notifications.</label>
					</div>
					<div class="checkbox">
						<input type="checkbox" class="toggle" id="logallrequests" ng-model="options.logallrequests" />
						<label for="logallrequests">Monitor and display all traffic.</label>
					</div>
					<div class="checkbox">
						<input type="checkbox" class="toggle" id="allowcors" ng-model="options.allowcors" />
						<label title="<b>Inject response header<br/>'Access-Control-Allow-Origin: *'</b>" for="allowcors">Allow CORS AJAX.</label>
					</div>
				</div>
			</div>
		</div>
		
		<div id="notifications-tab" class="tab-pane" ng-class="{active: options.activeTab == 'Captures'}" ng-controller="notificationController">
			<div class="list">
				<div class="notification-log" ng-repeat="notice in notices">
					<a href="{{::notice.url}}" target="_blank">{{::notice.url}}</a>
					<table class="paramlist">
						<tr class="param" ng-repeat="param in notice.paramlist">
							<td>{{::param.name}}</td>
							<td>{{::param.value}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="actions btn-group btn-group-sm">
				<button type="button" class="btn btn-default clear" ng-click="clearNotices()">Clear</button>
				<button type="button" class="btn btn-default exit" ng-click="exit()">Exit</button>
			</div>
		</div>
		
		<div id="monitor-tab" class="tab-pane" ng-class="{active: options.activeTab == 'Requests'}" ng-controller="monitorController">
			<div class="list">
				<div ng-repeat="log in logs">
				    <ng-switch on="type(log)">
						<div class="request-log matcher" ng-switch-when="block">
							<div class="source">
	                            <span class="head"></span><span class="body">[BLOCK]</span><span class="tail">{{::log.origin}}</span>
	                        </div>
						</div>
						<div class="request-log matcher" ng-switch-when="rule">
							<div class="source">
								<span class="head">{{::log.origin | head:log.rule.source}}</span><span class="body">{{::log.rule.source}}</span><span class="tail">{{::log.origin | tail:log.rule.source}}</span>
							</div>
							<div class="result">
								<span class="head">{{::log.result | head:log.rule.replace}}</span><span class="body">{{::log.rule.replace}}</span><span class="tail">{{::log.result | tail:log.rule.replace}}</span>
							</div>
						</div>
						<div class="request-trace" ng-switch-default>
							<a href="{{::log.url}}" target="_blank">{{::log.url}}</a>
							<table class="paramlist">
								<tr class="param" ng-repeat="param in log.paramlist">
									<td>{{::param.name}}</td>
									<td>{{::param.value}}</td>
								</tr>
							</table>
						</div>
					</ng-switch>
				</div>
			</div>
			<div class="actions btn-group btn-group-sm">
				<button type="button" ng-click="clearLog()" class="btn btn-default clear">Clear</button>
				<button type="button" class="btn btn-default exit" ng-click="exit()">Exit</button>
			</div>
		</div>

		<div id="autofills-tab" class="tab-pane" ng-class="{active: options.activeTab == 'Form'}" ng-controller="formController">
			<div class="list">
				<div class="entry" ng-repeat="fill in autoFills track by $index">
					<button type="button" class="close" aria-hidden="true" ng-really-message="Delete this item?" ng-really-click="deleteAutofill($index)">&times;</button>
					<div class="form-data" ng-click="toggle($index)">
						<input type="radio" class="toggle" name="autofills" ng-model="$parent.selectedFill" value="{{::$index}}" />
						<a href="#" class="pagename">{{::fill.pagename}}</a>
						<div class="input-group notes">
							<span class="input-group-addon">Notes:</span>
							<div>
								<input type="text" class="form-control" name="comment" ng-model="fill.comment" /> 
								<input type="hidden" name="pagename" value="{{::fill.pagename}}" /> 
								<input type="hidden" name="hostname" value="{{::fill.hostname}}" />
							</div>
						</div>
						<ol class="fields-list" ng-show="showIndex == $index">
							<li ng-repeat="form in fill.forms track by $index">
								<form class="form-horizontal" role="form">
									<div class="form-group" ng-repeat="field in form">
										<label for="{{::field.name}}" class="col-xs-3 control-label">{{::field.name}}</label>
										<div class="col-xs-9">
											<input type="text" class="form-control" name="{{::field.name}}" ng-model="field.value" />
										</div>
									</div>
								</form>
							</li>
						</ol>
					</div>
				</div>
			</div>
			<div class="alert alert-success form-data-saved" ng-show="successPopulated">Data populated.</div>   
			<div class="actions btn-group btn-group-sm">
				<button type="button" class="btn btn-default record" ng-click="record()">Record</button>
				<button type="button" class="btn btn-default fill" ng-click="populate()" ng-disabled="!fillSelected()">Populate</button>
				<button type="button" class="btn btn-default exit" ng-click="exit()">Exit</button>
			</div>
		</div>
		
	</div>

  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/controllers.js"></script>
</body>
</html>