<!DOCTYPE html>
<html lang="en" ng-app="sf" ng-csp>
<head>
	<title>SF</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="OtherUA=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" href="/css/sf.css" rel="stylesheet" />
    <link type="text/css" href="/ng/css/angular-csp.css" rel="stylesheet" />
    <script type="text/javascript" src="/ng/js/angular.min.js"></script>
</head>
<body ng-cloak ng-controller="mainController" ng-keyup="documentKeyup($event)">
	<div class="container" ng-controller="searchController">

		<div class="row" >
			<div class="col-md-2">
				<input type="text" name="from" ng-model="options.from"  required="required" />
				<input type="text" name="to" ng-model="options.to"  required="required"  />
				<input type="date" name="dep" ng-model="options.dep" required="required" placeholder="Date to leave ..." />
				<input type="date" name="ret" ng-model="options.ret" placeholder="Date to return ..." />

				<select ng-model="options.flex">
					<option value="0">No Flex</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
            </div>
            <div>
				<button ng-click="search()" >Search</button>
				<button ng-click="clear()" >Clear</button>
			</div>
		</div>

        <div ng-repeat="bounds in [outbounds, inbounds]" ng-init="boundFlag = $index" >
            <h3 ng-if="bounds.length != 0">
                <ng-switch on="boundFlag">
                    <span ng-switch-when="0">Outbounds</span>
                    <span ng-switch-when="1">Inbounds</span>
                </ng-switch>
            </h3>
            <div ng-repeat="bound in bounds ">
                <h4 ng-switch on="boundFlag">
                    <span ng-switch-when="0" >{{::bound.depTime | date : 'fullDate' }} : {{::bound.from | uppercase }} - {{::bound.to | uppercase}}</span>
                    <span ng-switch-when="1" >{{::bound.retTime | date : 'fullDate' }} : {{::bound.to | uppercase }} - {{::bound.from | uppercase }}</span>
                </h4>
                <p ng-if="bound.flights.length == 0">No flight available</p>
                <div class="flight" ng-repeat="flight in bound.flights" ng-class-even="'even'" ng-class="highlight(flight)" >
                    <div class="flight-leg" ng-repeat="leg in flight.legs track by $index" >
                        <span class="sm"><b>{{::leg.num}}</b></span>
                        <span class="md">{{::leg.dep}}</span>
                        <span class="md">{{::leg.arr}}</span>
                        <span class="lg">{{::leg.origin}}</span>
                        <span class="lg">{{::leg.destination}}</span>
                        <span class="sm unsold">{{::leg.seatCounts.unsold}}</span>
                        <span class="sm">{{::leg.seatCounts.lid}}</span>
                        <span class="sm">{{::leg.seatCounts.capacity}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="loading" ng-show="searchingQueue.length"></div>
    </div>

	<script type="text/javascript" src="/js/app.js"></script>
  	<script type="text/javascript" src="/js/controllers.js"></script>
  	<script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
</body>
</html>