@CHARSET "UTF-8";
/********************************************************/
/* general */
/********************************************************/
* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Trebuchet MS", "Lucida Grande", sans-serif;
}

a {
    color: #002D62;
}

/********************************************************/
/* options */
/********************************************************/

.list {
	/*height: 100%;*/
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

/* Colors for enabled options */
.toggle:checked ~ * input, 
.selected input {
    background-color: lightyellow;
    font-weight: bold;
}

/*Colors for disabled options */
input.source, 
input.block {
    color: red;
}

input.replace {
    color: green;
}

input.name,
input.value,
input.watch {
    color: blue;
}

/* Action buttons on the bottom */
.actions {
    position: absolute !important;
    bottom: 6px;
    right: 20px;
}

.entry {
    border: 1px silver solid;
    box-shadow: 5px 5px 5px silver;
    margin: 5px;
    padding: 5px;
    position: relative;
}

/* Style for option action section */
.action-pane {
  text-align: right;
  padding-right: 15px;
}

.action-pane a {
  font-weight: 700;
  font-size: 0.85em;
  text-decoration: underline;
  display: inline-block;
  margin-right: 10px;
}

/********************************************************/
/* monitor */
/********************************************************/

.request-log {
    margin: 10px;
    padding: 5px;
    background-color: lightgray;
    box-shadow: 5px 5px 5px #888;
}

.request-log > div {
    margin: 5px;
}

.request-log span {
     word-wrap:break-word;
}

.request-log span.header {
  display: inline-block;
  width: 100px;
}

.request-log .source .body {
    color: red;
    font-weight: bolder;
}

.request-log .result .body {
  color: green;
  font-weight: bolder;
}

.notification-log,
.request-trace {
    border: solid 1px silver;
    box-shadow: 5px 5px 5px silver;
    margin: 7px 5px;
    padding: 5px;
    word-wrap:break-word;
}

.paramlist {
  font-family: Arial;
  color: #0675EE;
  padding-left: 5px;
  display: table;
}

.paramlist span {
    display: table-cell;
    border: solid 1px #a8c3e0;
    border-radius: 0px;
    padding: 1px;
}

.paramlist .param {
    display: table-row;
}

.paramlist .name {
    font-weight: bold;
    border-left: solid 1px #a8c3e0;
}

.paramlist td {
    border: solid 1px #a8c3e0;
}

/********************************************************/
/* monitor */
/********************************************************/

ol.fields-list {
	/* display: none; */
	padding-left: 20px;
}
	
ol.fields-list li {
	padding: 5px;
	margin: 5px;
	border: 1px dotted #002D62;
}

a.pagename {
    font-weight: bolder;
    display: inline-block;
    margin-left: 10px;
}

.notes {
    margin-left: 25px;
}

.form-data-content {
    width: 100%;
    height: 100%;
    min-height: 100px;
}


/**
NOT REALLY BOOTSTRAP
**/

#main-nav-tab, #options-nav {
    /*float: left;*/
    width: 100%;
}

#main-tab-content, 
#options-tab-content { 
    /*padding-top: 30px;*/
    height: calc(100% - 25px);
}

#options-tab-content .tab-pane {
  height: calc(100% - 20px);
}

#notifications-tab,
#monitor-tab,
#autofills-tab {
    /*padding-bottom: 35px;*/
}

#autofills-tab .button-wrapper {
  float: right;
}

/**
AngularJs animation
**/
.ng-hide-add, .alert.ng-hide-remove {
  transition:linear all 0s;
}

.ng-hide-add.ng-hide-add-active,
.ng-hide-remove.ng-hide-remove-active {
   -webkit-transition:all linear 0s;
   transition:all linear 0s;
}

.ng-hide {
   opacity:0;
}